/*My Framwork*/
.main-color{color: #FFD300 !important}
.blur-full-page{filter: blur(3px); transition: 1s}
#ascrail2000-hr{display: none !important;}
/**/
header{
  background: url('https://e.top4top.net/p_11224t5of2.gif') no-repeat top center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
/*Start navbar*/

.navbar .navbar-header a{
  font-family: 'Courgette', cursive;
  font-size: 38px;
  font-weight: bold;
  color: #FFD300
}

.navbar .collapse ul li a{font-weight: bold;}
.navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li>a:hover{color: #FFD300}

.navbar .collapse ul li a:hover{color: #FFD300}

/*End Navbar*/

/*Start Menu*/
/*For Switch ON OFF*/
.lft{right: 34px !important;}
.onOffColor{background: #111 !important;}

.menu #tgl{
  background: #888;
  width: 60px;
  height: 25px;
  position: absolute;
  border: 3px solid #000;
  left: 15px;
  top: 7px;
  z-index: 999;
  border-radius: 30px;
  display: list-item;
  list-style: none;
  cursor: pointer;
  transition: 0.75s linear
}

.menu #onOff{
  position: absolute;
  width: 19px;
  height: 19px;
  background: #FFF;
  border-radius: 50%;
  right: 0
}

.menu .fa-chevron-down{display: none; transition: 3s; animation: down 1s infinite}

.menu .chevronDown{
  color: #FFF;
  right: 10px;
  position: absolute;
  display: block;
}

@keyframes down {
  from{transform: scale(1); }
  from{transform: scale(1.2); color: red; top:10px;}
}

.fixed-menu{
  background: #333;
  width: 220px;
  height: 100%;
  position: fixed;
  top: 50px;
  left: -225px;
  padding: 0 10px;
  z-index: 9;
  font-size: 13px;
  transition: 1s
}

.left-fxd{left: 0px !important;}

.fixed-menu .fa-gear{
  position: absolute;
  background: #333;
  color: #EEE;
  z-index: 9;
  top: 70px;
  right: -30px; /*219px*/
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.fixed-menu h3{color: #EEE; font-weight: bold; margin-top: 50px}

.fixed-menu .change-color{padding: 0}

.fixed-menu .change-color li{
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

.menu .prayer {}

.menu .prayer li{color: gold;}

.menu .prayer li, .menu .time li{margin-bottom: 5px}

.menu .time li{color: #EEE}

.weather{color: #FFF}
.weather .city{color: gold}

.menu .social-media{position: absolute; bottom: 60px}

.menu .social-media a > i{color: #9d9d9d}
.menu .social-media a > i:hover{color: #FFD300}
/*End Menu*/

/*Start Header*/
.header .fa-chevron-down{
  background-color: #333;
  color: #EEE;
  position: absolute;
  bottom: 20px;
  left: calc(100%/2);
  padding: 5px 7px;
  border-radius: 4px;
  border: 1px solid;
  z-index: 9999;
  cursor: pointer;
}

.header .fa-chevron-down:hover{color: #FFF}

.header .fa-chevron-down:hover,
.header .fa-chevron-down:focus{color: #FFD300;}

.header img{margin-top: 70px; width: 450px; height: 600px}

.header h2{margin-top:238px;font-weight: bold;}

.header h2 > span{color: #FFD300}

.header p{
  color: #FFF;
  font-weight: bold;
}
/*End header*/

/*Start Section About*/
.about{padding: 80px 0; background-color: #f6f6f6}

.about h2{
  font-weight: bold;
  position: relative;
  display: block;
  width: 260px;
  margin: 25px auto;
}

.about h2:before{
  content: "";
  position: absolute;
  display: block;
  top: 22px;
  left: 0;
  width: 50px;
  border: 2px solid #FFD300;
}

.about h2:after{
  content: "";
  position: absolute;
  display: block;
  top: 22px;
  right: 0;
  width: 50px;
  border: 2px solid #FFD300;
}

.about .img{text-align: center; margin-top: 20px;}

.about .img img{width:300px; height:300px}

.about img{ border-radius: 4px}

.about .btn1{
  background-color: #FFD300;
  color: #FFF;
  font-weight: bold;
}

.about .read-more{display: none;}

.about .btn2{
  background-color: #333;
  color: #FFF;
  font-weight: bold;
}
/*End Section About*/

/*Start Section Skill*/
.skill{padding: 40px 0 70px 0; background-color: #EEE;}

.skill h2{
  font-weight: bold;
  position: relative;
  display: table;
  margin: 25px auto;
  margin-top: 0;
}

.skill h2:before{
  content: "";
  position: absolute;
  top: 22px;
  left: -60px;
  width: 50px;
  border: 2px solid #FFD300;
}

.skill h2:after{
  content: "";
  position: absolute;
  top: 22px;
  right: -60px;
  width: 50px;
  border: 2px solid #FFD300;
}

.skill .circle{margin: 30px 0; text-align: center; position: relative;}

.skill p{
  color: gray;
  position: absolute;
  font-weight: bold;
  width: 100%;
}

.skill .circle .loader{
  border: 10px solid;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: #FFD300 #FFD300 gray;
  position: relative;
  animation: spin 2s linear infinite;
  margin: auto
}

.skill .circle span{
  margin: -66px -20px;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
}

@keyframes spin {100%{transform: rotate(360deg);}}
/*End Section Skill*/

/*Start Section Our Works*/
.our-works{padding: 60px 0;}

.our-works h2{
  font-weight: bold;
  position: relative;
  display: table;
  margin: 25px auto;
  margin-top: 0;
}

.our-works h2:before{
  content: "";
  position: absolute;
  top: 22px;
  left: -60px;
  width: 50px;
  border: 2px solid #FFD300;
}

.our-works h2:after{
  content: "";
  position: absolute;
  top: 22px;
  right: -60px;
  width: 50px;
  border: 2px solid #FFD300;
}

.our-works ul{display: inline-block; padding: 0}

.our-works ul li{
  float: left;
  margin: 25px 20px;
  list-style: none;
  font-weight: bold;
  color: #AAA;
  cursor: pointer;
}

.our-works ul .selected{color: #FFD300; border-bottom: 2px solid #FFD300;}
.our-works li:hover{color: #FFD300;}

.our-works .work{margin-top: 5px; position: relative; overflow: hidden;}

.our-works .work a img{width: 100%; height: 100%; transition: 1.2s}
.our-works .work:hover img{transform: translateZ(0) scale(1.2)}

.our-works .more-works{display: none; width: 100%; height: 100%;}

.our-works .overlay{display: none;}

.our-works .overlay{
  position: absolute;
  background-color: rgba(0,0,0,.6);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #FFF
}

.our-works .work:hover .overlay{display: block;}

.our-works button{margin-top: 25px; color: #FFF; background-color: #333;}

.our-works button.hvr-bounce-to-right:hover,
.our-works button.hvr-bounce-to-right:focus {color: #333; font-weight: bold;}
.our-works button.hvr-bounce-to-right:before {background-color:#FFD300;}
/*End Section Our Works*/

/*Start Section Statistics*/
.stats{
  background: url('https://d.top4top.net/p_1122v6b541.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #FFF;
  padding: 40px 0;
}

.stats h2{
  font-weight: bold;
  position: relative;
  display: table;
  margin: 25px auto;
  margin-top: 0;
}

.stats h2:before{
  content: "";
  position: absolute;
  top: 22px;
  left: -60px;
  width: 50px;
  border: 2px solid #FFD300;
}

.stats h2:after{
  content: "";
  position: absolute;
  top: 22px;
  right: -60px;
  width: 50px;
  border: 2px solid #FFD300;
}

.stat-box{margin-top: 40px}

.stats .stat-box .box{
  width: 85px;
  height: 85px;
  background-color: #2e343f;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: auto
}

.stats .stat-box .box i{line-height: 85px; color: #FFD300}

.stats .stat-box .box i:hover{color: #DDD}

.stats .stat-box .content-stat{margin-top: 10px; font-weight: bold}

.stats .content-stat span{font-size: 30px;}

.stats .content-stat p{font-size: 13px; color: #DDD}
/*End Section Statistics*/

/*Start SEction Team*/
.team{padding: 20px 0; background: #EEEEEE}

.team h3{
  font-weight: bold;
  border-bottom: 4px solid #FFD300;
  display: inline;
  margin-bottom: 37px;
  padding-bottom: 5px
}

.team .item p{
  width: 500px;
  margin: auto;
  color: #AAA;
  padding:20px 0
}

.team .carousel-inner img{
  width: 55px;
  height: 55px;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 10px
}

.carousel-indicators .active{background-color: #FFD300}
.carousel-indicators li,
.carousel-indicators li.active{border: 2px solid #000; width: 15px; height: 15px}

.team .carousel-inner{height: 300px;}
/*End Section Team*/

/*Start Section Blogs*/
.blogs{padding: 40px 0; background-color: #F5F5F5}

.blogs h2{
  font-weight: bold;
  position: relative;
  display: table;
  margin: 25px auto;
  margin-top: 0;
}

.blogs h2:before{
  content: "";
  position: absolute;
  top: 22px;
  left: -60px;
  width: 50px;
  border: 2px solid #FFD300;
}

.blogs h2:after{
  content: "";
  position: absolute;
  top: 22px;
  right: -60px;
  width: 50px;
  border: 2px solid #FFD300;
}

.blogs p{padding: 30px 0; font-size: 18px; color: #777;}

.blogs .blogs-content{
  border-radius: 5px;
  border: 1px solid #DDD;
  margin-bottom: 20px;
  position: relative;
  height: 500px;
  width: 100%;
}

.blogs .blogs-content .overlay{
  position: absolute;
  background-color: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #FFF;
  border-radius: 5px;
  display: none;
}

.blogs .blogs-content .picture{width: 100%; height: 50%; position: relative; top: 0; }

.blogs .picture .pic{overflow: hidden; width: 100%; height: 100%;}

.blogs .picture .pic img{width: 100%; height: 100%; transition: 1.2s}

.blogs .picture:hover img{transform: translateZ(0) scale(1.2)}

.blogs .blogs-content .picture:hover .overlay{display:block; z-index: 2}

.blogs .blogs-content .picture .overlay .fa-search-plus{
  margin-top: 111px;
  text-align: center;
  display: block;
  font-size: 50px;
}

.blogs .blogs-content .blogs-text{
  background-color: #FFF;
  padding: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
}

.blogs .blogs-content .blogs-text .fa-plus{
  border-radius: 50%;
  padding: 10px;
  background-color: #FFD300;
  color: #FFF;
  font-weight: bold;
  position: absolute;
}

.blogs .blogs-content .blogs-text h4{font-weight: bold;text-indent: 40px}

.blogs .blogs-content .blogs-text button{
  background-color: #FFD300;
  color: #FFF;
  position: absolute;
  bottom: 15px;
}

.blogs .blogs-content .blogs-text .rate{position: absolute;right: 20px;bottom: 15px;}

.blogs .blogs-content .blogs-text .rate .fa-thumbs-up{margin-right: 13px;color: #777}

.blogs button:last-child{
  background-color: #000;
  color: #FFF;
  font-weight: bold;
  padding: 8px 25px;
  margin: auto;
  display: block;
}

.blogs button:last-child.hvr-bounce-to-right:before {background-color:#FFD300;}

.blogs .more-blogs{display: none; width: 100%; height: 100%;}

/*End Section Blogs*/

/*Start Section Contact*/
.contact{
  padding: 80px 0;
  background: url('https://a.top4top.net/p_11222xr2x6.jpg') no-repeat top center fixed;
  background-size: cover;
}

.contact h2{
  font-weight: bold;
  position: relative;
  display: table;
  margin: 25px auto;
  margin-top: 0;
}

.contact h2:before{
  content: "";
  position: absolute;
  top: 22px;
  left: -60px;
  width: 50px;
  border: 2px solid #FFD300;
}

.contact h2:after{
  content: "";
  position: absolute;
  top: 22px;
  right: -60px;
  width: 50px;
  border: 2px solid #FFD300;
}

.contact form input, .contact form textarea{
  font-size: 15px;
  background-color: rgba(47, 52, 63, .7);
  border:none;
  color: #FFF;
  box-shadow: none
}

.contact input:nth-child(1){border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
.contact input:nth-child(2){border-radius: 0}

.contact input:nth-child(3){
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.contact textarea{
  height: 138px
}

.contact form button{
  margin-top: 32px;
  width: 96%;
  background-color: rgba(47, 52, 63, .7);
  color: #FFF;
  border-radius: 4px;
  height: 40px
}

.contact form .boton{padding: 0}

.contact form .hvr-bounce-to-right:before {
   background-color:#FFD300;
   border-radius: 5px;
 }
/*End Section Contact*/

/*Start Footer*/
footer{
  padding: 40px 0 20px 0;
  background-color: #333;
  color: #FFF
}

footer h4{color: #cccccc; padding-bottom: 15px}

footer p{color: #a6aaaa}

footer .instag{
  overflow: hidden;
  position: relative;
  width: 60px;
  height: 100%;
  margin: 10px 0;
}

footer .instag img{width: 100%; height: 100%;}

footer .instag:hover img{transform: translateZ(0) scale(1.6); transition: 1.5s}

footer ul a{text-decoration: none; color: #a6aaaa;}

footer ul li{margin-bottom: 8px;}

footer ul a:hover{text-decoration: none; color: #FFD300}

.copycial{
  margin-top: 30px;
  border-top: 1px solid #3e3e3e;
  padding-top: 20px;
  cursor: default;
  position: relative;
}

.copycial .copyright{float: left;}

.copycial .copyright b{color: #FFD300;}

.copycial .social-media{float: right;}

.copycial .social-media a > i{color: #9d9d9d}
.copycial .social-media a > i:hover{color: #FFD300}
/*End Footer*/

/*Start Scroll To Top*/
.scrollToTop{
  background-color: #333;
  color: #EEE;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 5px 7px;
  border-radius: 4px;
  border: 1px solid;
  display: none;
}

.scrollToTop:hover,
.scrollToTop:focus{color: #FFEE00;}
/*End Scroll To Top*/
